.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 50px;
    color: #FFFFFF;
}


@media (min-width: 320px) and (max-width: 945px) {
    .profile {
        flex-direction: column;
        margin: 0 auto 36px;
    }
}

.profile__block {
    display: flex;
    flex-direction: row;
}

@media (min-width: 320px) and (max-width: 580px) {
    .profile__block {
        flex-direction: column;
    }
}

.profile__title-button {
    display: flex;
    flex-direction: row;
}

.profile__subtitle {
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    margin: 0;
    padding-bottom: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 336px;
}

@media (min-width: 320px) and (max-width: 580px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 16.94px;
        text-align: center;
        max-width: 282px;
    }
}

.profile__title {
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
    margin: 0;
    padding: 22px 0 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 294px;
}

@media (min-width: 320px) and (max-width: 580px) {
    .profile__title {
        max-width: 189px;
        font-size: 27px;
        line-height: 32.68px;
    }
}

.profile__redact-img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.profile__jack {
    border-radius: 50%;
    max-width: 120px;
    min-height: 120px;
}

@media (min-width: 320px) and (max-width: 580px) {
    .profile__jack {
        margin: 0 auto;
    }
}

.profile__redact-img:hover {
    opacity: 0.8;
}
.profile__redact-image {
    position: relative;
    list-style-type: none;
    margin: 3.75px 30px 3.75px 0;
    transition: opacity 0.5s ease-in-out;
    text-align: center;
}

@media (min-width: 320px) and (max-width: 580px) {
    .profile__redact-image {
        margin: 0;
    }
}